<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>5280 Landmarks</title>
    <link rel="stylesheet" href="/reset.css" title="CSS" type="text/css" />
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />


    <ul class="container">
      <li class="item-a"><a href="#">5280 Landmarks</a></li>
      <li class="item-b"><a href="#">Login</a></li>
    </ul>

    <!-- <ul>
      <li style="float:right"><a href="#">Building</a></li>
      <li style="float:right"><a href="#">Art</a></li>
      <li style="float:right"><a href="#">Featured</a></li>
    </ul> -->



  </head>
  <body>

  </body>
</html>
